.banner {
  /* background-image: linear-gradient(to right, #635dc0, #3027ae); */
  /* background-image: url("https://mir-s3-cdn-cf.behance.net/projects/404/f4fce3155182915.634fd907e71a4.jpg"); */
  background-image: url("../../images/cover.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 91.8vmin;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.banner .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.banner:hover .tooltiptext {
  visibility: visible;
}

/* .cursor-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.cursor-text:hover .cursor-text {
  opacity: 2;
} */
.banner > h1 {
  margin: 5vmax;
  letter-spacing: 5px;
  font: 300 2.5vmax "Roboto";
}

.banner > p {
  font: 300 5vmax "Roboto";
  color: rgb(208, 255, 0);
  letter-spacing: 5px;
}


.banner::after {
  content: "";
  /* width: 100vw; */
  /* height: 100vmin; */
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  bottom: 0;
  /* clip-path: polygon(100% 68%, 0 100%, 100% 100%); */
  /* max-width: 100%; */
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
  letter-spacing: 2px;
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 14vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  /* color: rgb(144, 23, 23); */
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: rgb(56, 52, 52);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1.5vmax);
}

@media screen and (max-width: 500px) {

  /* .banner{
    width: 113%;
  } */
  /* .container{
    padding-left: 6vmax;
  }
  .homeHeading{
    padding-left: 6vmax;
  } */
  
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
